@model IEnumerable<Reservas.Models.Reserva>


@{
    ViewData["Title"] = "Lista de Reservas";
    Layout = "/Views/Shared/_LayoutRes.cshtml";
}

<div class="container">

    @if (TempData["mensaje"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            @TempData["mensaje"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    <div class="row">
        <div class="col-sm-6">
            <h3>Lista de Reservas</h3>
        </div>
        <div class="col-sm-6">
            <a class="btn btn-success d-block" id="agregarNuevaReserva" asp-action="Create" asp-controller="Reserva">Agregar nueva reserva</a>
        </div>
    </div>
    <div class="row ">
        <div class="col-sm-6">
        </div>
        <div class="col-sm-6">
            <form class="col-sm-6" action="/Reserva/Index" method="post">
                <div>
                    <input id="criterio" name="criterio" class="form-control" />
                </div>
                <div class="mt-2">
                    <button type="submit" id="buscar" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row mt-3">
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-striped" id="datatable">
                <thead>
                    <tr>
                        <td>Nombre Cliente</td>
                        <td>@Html.DisplayNameFor(m => m.Celular)</td>
                        <td>Fecha Reserva</td>
                        <td>Número Mesa</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.NombreCliente</td>
                            <td>@item.Celular</td>
                            <td>@item.FechaReserva</td>
                            <td>@item.Mesa.NumeroMesa</td>
                            <td>
                                <a asp-controller="Reserva" asp-action="Edit" id="editReserva" asp-route-id="@item.Id" class="btn btn-warning">Editar</a>
                                <a asp-controller="Reserva" asp-action="Delete" id="deleteReserva" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No existen registros</p>
        }
    </div>

</div>